<launch>
  <arg name="ros_hz" default="7.0"/>
  <arg name="os_display" default="true"/>
  <arg name="src_zed_gst" default="false"/>
  <arg name="numFaciallandmarks" default="68.0"/>
  <arg name="file_uri" default="file:///home/tobojetuk/William/w_b_output_2.mp4"/>
  <arg name="src_file" default="false"/>
  <arg name="face_frame_id" default="face_frame"/>
  <arg name="focus_frame_id" default="focus_frame"/>
  <arg name="camera_frame_id" default="zed2_camera_center"/>
  <arg name="world_frame_id" default="world"/>
  
  <param name="zed_resolution" value="1.0"/>
  <param name="maxBatchSize" value="32.0"/>
  <param name="inputLayerWidth" value="80.0"/>
  <param name="inputLayerHeight" value="80.0"/>
  <param name="numFaciallandmarks" value="$(arg numFaciallandmarks)"/>
  <param name="config_primary" value="$(find tobo_perception)/configs/config_infer_primary_face_retina.txt"/>
  <param name="config_secondary" value="$(find tobo_perception)/configs/face_sdk_sgie_config.txt"/>
  <param name="config_gaze" value="$(find tobo_perception)/configs/sample_gazenet_model_config.txt"/>
  <param name="config_hr" value="$(find tobo_perception)/configs/sample_heartrate_model_config.txt"/>
  <param name="config_emotion" value="$(find tobo_perception)/configs/sample_emotion_model_config.txt"/>
  <param name="config_tracker" value="$(find tobo_perception)/configs/config_tracker_NvDCF_max_perf.yml"/>
  <param name="gaze_lib" value="$(find tobo_perception)/apps/libnvds_gazeinfer.so"/>
  <param name="hr_lib" value="$(find tobo_perception)/apps/libnvds_heartrateinfer.so"/>
  <param name="emotion_lib" value="$(find tobo_perception)/apps/libnvds_emotion_impl.so"/>
  <param name="tracker_lib" value="/opt/nvidia/deepstream/deepstream-6.0/lib/libnvds_nvmultiobjecttracker.so"/>
  
  <param name="os_display" value="$(arg os_display)"/>
  <param name="ros_hz" value="$(arg ros_hz)"/>
  <param name="src_zed_gst" value="$(arg src_zed_gst)"/>
  <param name="file_uri" value="$(arg file_uri)"/>
  <param name="src_file" value="$(arg src_file)"/>
  <param name="focus_frame_id" value="$(arg focus_frame_id)"/>
  
  <!-- Static transforms Enviroment setup -->
  <include file="$(find tobo_perception)/launch/scenario_calib.launch"/>

  <node pkg="tobo_perception" type="perceptionstream_node" name="perceptionstream_node" output="screen">
  </node>
  
  <node pkg="tobo_perception" type="focus_estimation" name="focus_estimation_node" output="screen">
  </node>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tobo_perception)/configs/perception.rviz"/>
</launch>
